/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondary);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

/* variables */
:root {
  --primary: #74b9ff;
  --secondary: #636e72;
  --border: #b2bec3;
  --background: #dfe6e9;
}

body {
  background-color: #f5f5f5;
}

/* base styles  */
.container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin: 0px auto;
  /* border: 1px solid var(--border);
  box-shadow: 1px 1px 2px var(--border); */
  background-color: #fff;
}

.left__side {
  width: 100%;
  height: 100%;
  padding: 30px;
  background-color: #fff;
}

.right__side {
  width: 100%;
  padding: 30px;
  background-color: var(--background);
  text-align: center;
}

.profile__section {
  margin-bottom: 30px;
}

h1 {
  font-size: 2rem;
  padding-bottom: 10px;
}

span {
  font-size: 1rem;
  line-height: 1.8rem;
}

.education__list {
  display: grid;
  grid-template-columns: min-content 1fr;
  padding: 20px;
  padding-left: 5px;
}

.education__list i {
  display: flex;
  grid-row: span 2;
  margin-right: 20px;
  color: var(--primary);
  width: 24px;
  height: 24px;
}

.education__list span {
  margin-bottom: 20px;
}

.right__side img {
  width: 100%;
}

.right__side h3 {
  font-size: 1rem;
  font-weight: 500;
}

.info__panel {
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 350px;
  min-width: 250px;
  height: 50px;
  margin-top: 45px;
  margin-bottom: 25px;
  line-height: 50px;
  background-color: #fff;
  text-align: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  box-shadow: -1px 1px 5px var(--secondary);
}

.info__panel .left__border {
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 50px;
  background-color: var(--secondary);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.info__panel h1 {
  font-size: 1.4rem;
}

.avatar__name__panel {
  margin-bottom: 10px;
}

.lable__panel span {
  display: block;
}

.languages {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

.language {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.language span.txt {
  margin-right: 10px;
  width: 70px;
  text-align: left;
}

.dot {
  height: 13px;
  width: 13px;
  margin: 0 10px 0 0;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}

.dot__dark {
  height: 13px;
  width: 13px;
  margin: 0 10px 0 0;
  background-color: var(--secondary);
  border-radius: 50%;
  display: inline-block;
}

.skills {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: center;
}

.skills span {
  background-color: var(--border);
  color: var(--secondary);
  padding: 3px 10px;
  margin-bottom: 3px;
  margin-right: 3px;
  border-radius: 3px;
}

/* Responsive */
@media screen and (min-width: 455px) {
  .right__side img {
    width: 300px;
  }

  .skills {
    max-width: 350px;
    margin: auto;
  }
}

@media screen and (min-width: 610px) {
  .education__list {
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .left__side {
    width: 65%;
    height: 100%;
    background-color: #fff;
  }

  .right__side {
    width: 35%;
    background-color: var(--background);
    text-align: center;
  }
  .right__side img {
    width: 200px;
  }

  .info__panel {
    min-width: 100px;
    max-width: 250px;
  }

  .dot {
    height: 8px;
    width: 8px;
  }

  .dot__dark {
    height: 8px;
    width: 8px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    margin: 50px auto;
    border: 1px solid var(--border);
    box-shadow: 1px 1px 2px var(--border);
    background-color: #fff;
  }
  .dot {
    height: 15px;
    width: 15px;
  }

  .dot__dark {
    height: 15px;
    width: 15px;
  }

  .skills {
    max-width: 250px;
    margin: auto;
  }
}
